:root {
    --header-size: 2rem;
    --text-size: 1.7rem;
}

#app {
    margin: 10px;
}

#content {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    height: 80vh;
    padding: 30px;
}

.p-tabmenu {
    font-size: 2.5rem;
}

.p-tabmenu .pi {
    font-size: 1.8rem;
}

.p-panel .p-panel-header .p-panel-title {
    font-size: var(--header-size);
}

.p-placeholder {
    font-size: var(--text-size);
}

.p-component {
    font-size: var(--text-size);
}

.p-inputtext {
    font-size: var(--text-size);
}

p {
    font-size: var(--text-size);
}
