:root {
    --header-size: 2rem;
    --text-size: 1.7rem;
}

#app {
    margin: 10px;
}

#content {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    min-height: 80vh;
    padding: 30px;
}

.p-tabmenu {
    font-size: 2.5rem;
}

.p-tabmenu .pi {
    font-size: 1.8rem;
}

.p-panel .p-panel-header .p-panel-title {
    font-size: var(--header-size);
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input {
    font-size: var(--text-size);
}

.p-autocomplete .p-autocomplete-multiple-container {
    width: 100%;
}

.p-placeholder {
    font-size: var(--text-size);
}

.p-component {
    font-size: var(--text-size);
}

.p-inputtext {
    font-size: var(--text-size);
}

p {
    font-size: var(--text-size);
}

/* Phoneme tab styling */
#random-phoneme-table,
#random-phoneme-table th,
#random-phoneme-table td,
#phoneme-table,
#phoneme-table th,
#phoneme-table td {
    border: 1px solid black;
}

#random-phoneme-table th,
#random-phoneme-table td,
#phoneme-table th,
#phoneme-table td {
    padding: 10px;
}

.p-panel {
    margin-bottom: 10px;
}
