#app {
    margin: 10px;
}

#content {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    height: 80vh;
    padding: 30px;
}

.p-tabmenu {
    font-size: 2.5rem;
}

.p-tabmenu .pi {
    font-size: 1.8rem;
}
